@mixin font ($size, $weight, $letter-spacing, $line-height, $color: $text-primary-light) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    color: $color;
}










