$main-color-light: rgba(226, 28, 46, 1);
$text-primary-light: #FFFFFF;
$text-secondary-light: #DFDFDF;
$text-primary-dark: #251D1D;
$text-secondary-dark: #5B5050;
$primary-gradient:  linear-gradient( rgba(226, 28, 46, 0.6), rgba(226, 28, 46, 0.6)),
    linear-gradient(rgba(226, 28, 46, 1), rgba(226, 28, 46, 1));



