.main {

    font-family: 'Noto Sans', sans-serif;
}

    .hero {
        position: relative;
        background:  linear-gradient(180deg, #E21C2E 10.33%, rgba(226, 28, 46, 0.7) 100%), url(../images/hero-background.jpg) no-repeat;
        background-size: cover;
        height: 685px;
        display: flex;
        justify-content: center;

    &__header {
        @include font(48px, bold, 0.05em, 65px); // Mixin order: font-size, font-weight, letter-spacing, line-height, color(optional)
        margin-top: 114px;
        text-transform: uppercase;
    }

    &__header-line {
        @include font(280px, 800, 0.06em, 280px);
    }

    &__hero-image {
        position: absolute;
        top: 185px;
    }
}
    //Laying out the services section.

    .services {
        background: url(../images/services/alignment.jpg); // The first service is selected by default so it's background is default            
        

    &__wrapper {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), 
        radial-gradient(circle at 100% -50%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%), 
        radial-gradient(circle at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%);
    }

    &__grid {
        display: grid;
        grid-template-columns: 80px 255px minmax(20px, 170px) minmax(300px, 775px) minmax(20px, 125px);
        grid-template-rows: 180px 120px 320px auto ;
        grid-template-areas: 
            ". header . . ."
            ". . . . ."
            ". services . description ."
            ". . . contact .";
        height: 880px;
        align-self: center;
    }

    &__header {
        @include font(36px, bold, 0.02em, 49px);
        grid-area: header;
        align-self: end;
    }

    &__list {
        @include font(16px, normal, 0em, 22px, $text-secondary-light);
        grid-area: services;
        justify-self: end;
    }

    &__list-item {
        margin-bottom: 20px;
        width: 177px;
        &:hover{
            cursor: pointer;
        }

        &_active {
            @include font(18px, bold, 0em, 22px);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 12px;
                left: -75px;
                width: 42px;
                border: 2px solid #E21C2E;
               
            }
        }
    }

    &__description {
        @include font(16px, normal, 0em, 26px, $text-secondary-light);
        grid-area: description;
        visibility: hidden;
    }

}

.contact {
    grid-area: contact;
    display: flex;
    max-width: 500px;
    margin-top: 65px;
    height: 69px;
    background: linear-gradient(118deg, white 58%, $main-color-light 58.25%);
    border-radius: 20px;
    justify-content: space-around;

    &__info {
        @include font(16px, normal, 0em, 26px, rgb(91, 80, 80));
        align-self: center;
    }

    &__phone {
        @include font(18px, bold, 0.02em, 25px);
        align-self: center;
    }
}

.preload-background-images {    // Preloading background images for the services section
    display: none;
}

.about {   // Laying out about section
    display: flex;
    justify-content: center;  

    &__wrapper {
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    &__description {
        flex-basis: 610px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__headline {
        @include font(36px, bold, 0.02em, 49px, $text-primary-dark )
    }

    &__info {
        @include font(16px, 500, 0.01em, 25px, #AFAFAF)
    }

    &__years-number {
        @include font(152px, 800, -0.04em, 152px);
         background: $primary-gradient,
                    url(../images/years.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-blend-mode: normal, color, normal;
        margin-right: 40px;
    }

    &__description-text {
        @include font (16px, normal, 0.01em, 26px, #5B5050);
        width: 100%;
    }

    &__img {
        box-shadow: 10px 10px 0 rgba(226, 28, 46, 1)
    }
}

.advantages {   // Laying out the advantages block
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)),
                 url(../images/advantages.jpg) no-repeat;
    height: 720px;
    background-size: cover;
    background-position: left top 30%;
   

    &__content-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 1400px;
        justify-content: space-around;
    }
    
    &__header {
        display: flex;
        flex-direction: row;
        flex-basis: 515px;
        max-height: 397px;
    }       

    &__headline {
        @include font(34px, 800, 0.02em, 46px);
        align-self: center;
    }

    &__quantity {
        @include font(382px, 800, 0.02em, 382px);
         background: $primary-gradient;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-blend-mode: normal, color;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
        flex-basis: 710px;
        height: 470px;
        align-self: center;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }

    &__list-icon {
        display: flex;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), #E21C2E;
        box-shadow: 0px 0px 20px rgba(226, 28, 46, 0.6);
    }

    &__name {
        @include font(20px, 600, 0, 27px)
    }

    &__description {
        @include font(16px, normal, 0.01em, 24px, $text-secondary-light);
        text-align: center;
    }
}

.reviews {
    display: flex;
    width: 100%;
    flex-direction: column;
    
    &__grid {
    display: grid;
    grid-template-columns: minmax( 20px, 80px) 155px  minmax(400px, 820px) 155px minmax(20px, 190px);
    grid-template-rows: 130px 50px 200px 155px 185px;
    grid-template-areas:
        ". . . . ."
        ". headline . . ."
        ". . commas . ."
        ". arrow-prev review-text arrow-next ."
        ". . . . . ";
    align-self: center;
    }

    &__headline {
        grid-area: headline;
        @include font(36px, bold, 0.02em, 49px, $text-primary-dark)
    }

    &__commas {
        grid-area: commas;
        justify-self: center;
        align-self: center;
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border: 1.5px solid $text-secondary-light;
        border-radius: 50%;
        &:hover {
            background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), 
                        linear-gradient(0deg, #E21C2E, #E21C2E), #C4C4C4;
            border-color: $main-color-light;
            cursor: pointer;
                        .reviews__arrow-icon-path {
                            fill: white;
                        }
        }
    }

    &__arrow_previous {
        grid-area: arrow-prev;
        justify-self: center;
    }

    &__arrow_next {
        grid-area: arrow-next;
        justify-self: center;
        align-self: start;
        transform: rotate(180deg);
    }

    &__review {
        grid-area: review-text;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
    }

    &__review-text {
        @include font(18px, normal, 0, 29px, $text-secondary-dark);
        padding: 0 40px;
        text-align: center;
    }

    &__review-name {
        @include font(20px, 600, 0, 27px, $text-primary-dark);
        margin-top: 30px;
    }
}

.contacts {
    background: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), 
                radial-gradient(circle at 100% -50%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%), 
                radial-gradient(circle at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%),
                url('../images/tires.jpg') no-repeat;
    background-size: cover;
    height: 850px;

    &__headline {
        @include font(36px, bold, 0.02em, 49px);
        padding: 76px 0 69px 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__map {
        display: flex;
        flex-basis: 815px;
        height: 525px;
    }

    &__contacts-wrapper {
        display: grid;
        background: url(../images/back2.png);
        grid-template-columns: 90px minmax(300px, 400px) 90px;
        grid-template-rows: 88px auto auto auto auto 88px;
        grid-template-areas: 
                ". . ."
                ". address ."
                ". time ."
                ". phone ."
                ". email ."
                ". . ."; 
        
    }

    &__list-item {
        display: flex;
        

       &_address {
        grid-area: address;
       }

       &_time {
           grid-area: time;
       }

       &_phone {
           grid-area: phone;
       }

       &_email {
           grid-area: email;
       }
    }

    &__item-icon {
        align-self: start;
        margin-right: 45px;
    }

    &__item-name {
        @include font(16px, bold, 0.1em, 16px);
        text-transform: uppercase;
        
    }

    &__item-data {
        @include font(16px, 500, 0.01em, 23px, $text-secondary-light);
        margin-top: 10px;
    }
}
