
.header {
    background-color: $main-color-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 80px;

    &__main {
        flex-basis: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    &__list-item {
        display:flex;
    }

    &__links-list {
        display: flex;
        justify-content: space-around;
        flex-basis: 790px;
    }

    &__link {
        @include font(16px, 600, 0.01em, 23px); // Mixin order: font-size, font-weight, letter-spacing, line-height, color(optional)
        text-transform: uppercase;
        align-self: center;
    }

    &__contact {
        display: flex;
        justify-content: space-between;
    }

    &__phone-icon {
        display: flex;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), #E21C2E;;
        align-self: center;
        border: 1px solid white;
    }

    &__phone-icon-svg {
        margin: auto;
    }

    &__phone {
        @include font(18px, bold, 0.02em, 25px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
    }

    &__phone-info {
        @include font(16px, 500, 0.01em, 22px);
    }

    &__phone-number {
        margin-bottom: 5px;
    }

    &_sticky {
        position: sticky;
        top: 0px;
        z-index: 99;
        background-color: white;
        transform: translateY(-100%);
        
        .header__link {
            color: $text-primary-dark;
        }
        .header__phone {
            color: $main-color-light;
        }
        .header__phone-info {
            color: $text-primary-dark;
        }
        .header__phone-icon {
            border: none;
            animation: pulse 2s infinite;
        }
    }

    &_sticky-inView {
        padding: 0 80px;
        transform: translateY(0);
        transition: transform .35s ease-out;
    }
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(226, 28, 46, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(226, 28, 46, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(226, 28, 46, 0);
    }
  }

