.about {   
    display: flex;

    &__wrapper {
    flex-basis: 1400px;
    margin: auto;
    padding: 155px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        @media(max-width: 1050px) {
            padding: 60px 0;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__description {
        max-width: 570px;
        margin-left: 20px;

        @media(max-width: 585px) {
            margin-left: 10px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

    }

    &__header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__headline {
        @include font(36px, bold, 0.02em, 49px, $text-primary-dark )
    }

    &__info {
        @include font(16px, 500, 0.01em, 25px, #AFAFAF)
    }

    &__years-number {
        @include font(152px, 800, -0.04em, 152px);
         background: $primary-gradient,
                    url(../img/years.jpg) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-blend-mode: normal, color, normal;
        margin-right: 40px;

        @media(max-width: 350px) {
            margin-right: 10px;
        }
    }

    &__description-text {
        @include font (16px, normal, 0.01em, 26px, #5B5050);
        width: 100%;
    }

    &__img {
        margin: 0 20px 0 10px;
        box-shadow: 10px 10px 0 rgba(226, 28, 46, 1);
        
        max-width: 100%;
        height: auto;
        
        @media(max-width: 1050px) {
            margin-top: 50px;
        }

        @media(max-width: 575px) {
            margin: 50px 0 0 0;
        }
    }
}