.reviews {
    
    display: flex;
    width: 100%;
    flex-direction: column;
    
    &__grid {
    display: grid;
    grid-template-columns: minmax( 5px, 80px) minmax(0px, 155px)  minmax(310px, 820px) minmax(0px, 155px) minmax(5px, 190px);
    grid-template-rows: 130px 50px 200px auto minmax(100px, 185px);
    grid-template-areas:
        ". . . . ."
        ". headline headline-mobile . ."
        ". . commas . ."
        ". arrow-prev review-text arrow-next ."
        ". . arrows . . ";
    align-self: center;

    @media(max-width: 640px) {
        grid-template-rows: 65px 50px 125px auto minmax(100px, 185px);
    }
    }

    &__headline {
        grid-area: headline;
        @include font(36px, bold, 0.02em, 49px, $text-primary-dark);

        @media(max-width: 745px) {
            grid-area: headline-mobile;
            justify-self: center;
        }
    }

    &__commas {
        grid-area: commas;
        justify-self: center;
        align-self: center;
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border: 1.5px solid $text-secondary-light;
        border-radius: 50%;
        @media (hover: hover) and (pointer: fine) {  //hover style for computers
        &:hover {
            background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), 
                        linear-gradient(0deg, #E21C2E, #E21C2E), #C4C4C4;
            border-color: $main-color-light;
            cursor: pointer;
                        .reviews__arrow-icon-path {
                            fill: white;
                        }
        }
    }
        @media (hover: none) and (pointer: coarse) {  //click animation for touch devices
        &_ripple::after {
                content: '';
                opacity: 0;
                transform: scale(1.1);
                transition: all .3s;
                background: $main-color-light;
                border-radius: 50%;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            &_ripple:active::after {
                opacity: 1;
                transform: scale(0);
                transition: none;
            }
        
        }
    }

    &__arrow_previous {
        grid-area: arrow-prev;
        justify-self: center;
        transform: rotate(360deg); //strange hack for the pseudo-element animation to work. otherwise the whole div is animated on click on touch devices.

        @media(max-width: 640px) {
            grid-area: arrows;
            justify-self: center;
            align-self: center;
            transform: translateX(-100%)
        }
    }

    &__arrow_next {
        grid-area: arrow-next;
        justify-self: center;
        transform: rotate(180deg);

        @media(max-width: 640px) {
            grid-area: arrows;
            justify-self: center;
            align-self: center;
            transform: rotate(180deg) translateX(-100%)
        }
    }

    &__review {
        grid-area: review-text;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
    }

    &__review-text {
        @include font(18px, normal, 0, 29px, $text-secondary-dark);
        // padding: 0 40px;
        text-align: center;

        @media(max-width: 110px) {
            padding: 0;
        }
    }

    &__review-name {
        @include font(20px, 600, 0, 27px, $text-primary-dark);
        margin-top: 30px;
    }
}