@charset "UTF-8";
.mb-140 {
  margin-bottom: 140px; }

.mb-180 {
  margin-bottom: 180px; }

* {
  box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 0;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.header {
  background-color: #e21c2e;
  display: -webkit-box;
  display: flex;
  flex-basis: 1400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px 80px; }
  @media (max-width: 600px) {
    .header {
      padding-right: 40px; } }
  @media (max-width: 1200px) {
    .header {
      -webkit-box-pack: center;
              justify-content: center; } }
  .header__main {
    flex-basis: 800px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1200px) {
      .header__main {
        display: none; } }
  .header__list-item {
    display: -webkit-box;
    display: flex; }
  .header__links-list {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    flex-basis: 790px; }
  .header__link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: uppercase;
    align-self: center; }
  .header__contact {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    @media (max-width: 600px) {
      .header__contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
                flex-direction: row-reverse; } }
  .header__phone-icon {
    display: -webkit-box;
    display: flex;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    margin-right: 30px;
    border-radius: 50%;
    background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), #E21C2E;
    align-self: center;
    border: 1px solid white; }
    @media (max-width: 600px) {
      .header__phone-icon {
        margin-right: 0;
        margin-left: 10px; } }
  .header__phone-icon-svg {
    margin: auto; }
  .header__phone {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 25px;
    color: #FFFFFF;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center; }
  .header__phone-info {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 22px;
    color: #FFFFFF; }
  .header__phone-number {
    margin-bottom: 5px;
    color: inherit; }
  @media (min-width: 1200px) {
    .header_sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      z-index: 99;
      background-color: white;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
      .header_sticky .header__link {
        color: #251D1D; }
      .header_sticky .header__phone {
        color: #e21c2e; }
      .header_sticky .header__phone-info {
        color: #251D1D; }
      .header_sticky .header__phone-icon {
        border: none;
        -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite; } }
  @media (min-width: 1200px) {
    .header_sticky-inView {
      padding: 5px 80px;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transition: -webkit-transform .35s ease-out;
      transition: -webkit-transform .35s ease-out;
      transition: transform .35s ease-out;
      transition: transform .35s ease-out, -webkit-transform .35s ease-out; } }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(226, 28, 46, 0.6); }
  70% {
    box-shadow: 0 0 0 10px rgba(226, 28, 46, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(226, 28, 46, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(226, 28, 46, 0.6); }
  70% {
    box-shadow: 0 0 0 10px rgba(226, 28, 46, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(226, 28, 46, 0); } }

.menu {
  font-family: 'Noto Sans', sans-serif;
  /* стилизуем кнопку */
  /* добавляем "гамбургер" */
  /* контейнер меню */
  /* скрываем чекбокс */ }
  @media (min-width: 1200px) {
    .menu {
      display: none; } }
  .menu__btn {
    display: -webkit-box;
    display: flex;
    /* используем flex для центрирования содержимого */
    -webkit-box-align: center;
            align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 40px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3; }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition-duration: .35s;
            transition-duration: .35s; }
  .menu__btn > span::before {
    content: '';
    top: -8px; }
  .menu__btn > span::after {
    content: '';
    top: 8px; }
  .menu__box {
    display: block;
    background-color: #e21c2e;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: fixed;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 100px 0 40px 60px;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .menu #menu__toggle {
    display: none; }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0; }

/* модификаторы элемент меню */
.header__link_menu {
  display: block;
  padding: 12px 24px; }

.menu input:checked ~ ul {
  -webkit-transform: none;
          transform: none; }

.main {
  font-family: 'Noto Sans', sans-serif; }

.hero {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.33%, #E21C2E), to(rgba(226, 28, 46, 0.7))), url(../img/hero-background.jpg) center center no-repeat;
  background: linear-gradient(180deg, #E21C2E 10.33%, rgba(226, 28, 46, 0.7) 100%), url(../img/hero-background.jpg) center center no-repeat;
  background-size: cover;
  height: 685px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }
  @media (max-width: 1200px) {
    .hero {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(10.33%, #E21C2E), to(rgba(226, 28, 46, 0.7))), url(../img/hero-background-md.jpg) center center no-repeat;
      background: linear-gradient(180deg, #E21C2E 10.33%, rgba(226, 28, 46, 0.7) 100%), url(../img/hero-background-md.jpg) center center no-repeat;
      background-size: cover; } }
  .hero__header {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 65px;
    color: #FFFFFF;
    margin-top: 114px;
    text-transform: uppercase; }
  .hero__header-line {
    font-size: 280px;
    font-weight: 800;
    letter-spacing: 0.06em;
    line-height: 280px;
    color: #FFFFFF; }
  .hero__hero-image {
    position: absolute;
    top: 205px;
    max-width: 100%;
    height: auto; }
    @media (max-width: 900px) {
      .hero__hero-image {
        top: 270px; } }
    @media (max-width: 600px) {
      .hero__hero-image {
        top: 295px; } }
    @media (max-width: 400px) {
      .hero__hero-image {
        top: 335px; } }

.preload-background-images {
  background: url(../img/services/tireFix.jpg), url(../img/services/carpet.jpg), url(../img/services/carWash.jpg), url(../img/services/castWheels.jpg), url(../img/services/dryCleaning.jpg), url(../img/services/headlights.jpg), url(../img/services/welding.jpg); }

.services {
  background: url(../img/services/alignment.jpg); }
  .services__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 26, 26, 0.7)), to(rgba(26, 26, 26, 0.7))), radial-gradient(circle at 100% -50%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%), radial-gradient(circle at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%);
    background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), radial-gradient(circle at 100% -50%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%), radial-gradient(circle at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%); }
  .services__grid {
    display: grid;
    grid-template-columns: 80px 255px minmax(20px, 170px) minmax(300px, 775px) minmax(20px, 125px);
    grid-template-rows: 180px 120px 320px auto;
    grid-template-areas: ". header . . ." ". . . . ." ". services . description ." ". . . contact .";
    height: 880px;
    align-self: center; }
  .services__header {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 49px;
    color: #FFFFFF;
    grid-area: header;
    align-self: end; }
  .services__list {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 22px;
    color: #DFDFDF;
    grid-area: services;
    justify-self: end; }
  .services__list-item {
    margin-bottom: 20px;
    width: 177px; }
    .services__list-item:hover {
      cursor: pointer; }
    .services__list-item_active {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0em;
      line-height: 22px;
      color: #FFFFFF;
      position: relative; }
      .services__list-item_active::before {
        content: '';
        position: absolute;
        top: 12px;
        left: -75px;
        width: 42px;
        border: 2px solid #E21C2E; }
  .services__description {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 26px;
    color: #DFDFDF;
    grid-area: description;
    visibility: hidden; }

.contact {
  grid-area: contact;
  display: -webkit-box;
  display: flex;
  max-width: 500px;
  margin-top: 65px;
  height: 69px;
  background: linear-gradient(118deg, white 58%, #e21c2e 58.25%);
  border-radius: 20px;
  justify-content: space-around; }
  .contact__info {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 26px;
    color: #5b5050;
    align-self: center; }
  .contact__phone {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 25px;
    color: #FFFFFF;
    align-self: center; }

.about {
  display: -webkit-box;
  display: flex; }
  .about__wrapper {
    flex-basis: 1400px;
    margin: auto;
    padding: 155px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    justify-content: space-around; }
    @media (max-width: 1050px) {
      .about__wrapper {
        padding: 60px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center; } }
  .about__description {
    max-width: 570px;
    margin-left: 20px; }
  .about__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .about__header-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around; }
  .about__headline {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 49px;
    color: #251D1D; }
  .about__info {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 25px;
    color: #AFAFAF; }
  .about__years-number {
    font-size: 152px;
    font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 152px;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 28, 46, 0.6)), to(rgba(226, 28, 46, 0.6))), -webkit-gradient(linear, left top, left bottom, from(#e21c2e), to(#e21c2e)), url(../img/years.jpg) no-repeat;
    background: linear-gradient(rgba(226, 28, 46, 0.6), rgba(226, 28, 46, 0.6)), linear-gradient(#e21c2e, #e21c2e), url(../img/years.jpg) no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-blend-mode: normal, color, normal;
    margin-right: 40px; }
  .about__description-text {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 26px;
    color: #5B5050;
    width: 100%; }
  .about__img {
    margin: 0 20px 0 10px;
    box-shadow: 10px 10px 0 #e21c2e;
    max-width: 100%;
    height: auto; }
    @media (max-width: 1050px) {
      .about__img {
        margin-top: 50px; } }

.advantages {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 26, 26, 0.8)), to(rgba(26, 26, 26, 0.8))), url(../img/advantages.jpg) no-repeat;
  background: linear-gradient(0deg, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url(../img/advantages.jpg) no-repeat;
  min-height: 720px;
  background-size: cover;
  background-position: left top 30%; }
  .advantages__content-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 1400px;
    justify-content: space-around; }
  .advantages__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-basis: 515px;
    max-height: 397px; }
  .advantages__headline {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 46px;
    color: #FFFFFF;
    align-self: center; }
  .advantages__quantity {
    font-size: 382px;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 382px;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 28, 46, 0.6)), to(rgba(226, 28, 46, 0.6))), -webkit-gradient(linear, left top, left bottom, from(#e21c2e), to(#e21c2e));
    background: linear-gradient(rgba(226, 28, 46, 0.6), rgba(226, 28, 46, 0.6)), linear-gradient(#e21c2e, #e21c2e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-blend-mode: normal, color; }
  .advantages__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    flex-basis: 710px;
    height: 470px;
    align-self: center; }
  .advantages__list-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    max-width: 320px;
    height: 200px;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center; }
  .advantages__list-icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), #E21C2E;
    box-shadow: 0px 0px 20px rgba(226, 28, 46, 0.6); }
  .advantages__name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    color: #FFFFFF; }
  .advantages__description {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 24px;
    color: #DFDFDF;
    text-align: center; }

.reviews {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .reviews__grid {
    display: grid;
    grid-template-columns: minmax(20px, 80px) 155px minmax(400px, 820px) 155px minmax(20px, 190px);
    grid-template-rows: 130px 50px 200px 155px 185px;
    grid-template-areas: ". . . . ." ". headline . . ." ". . commas . ." ". arrow-prev review-text arrow-next ." ". . . . . ";
    align-self: center; }
  .reviews__headline {
    grid-area: headline;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 49px;
    color: #251D1D; }
  .reviews__commas {
    grid-area: commas;
    justify-self: center;
    align-self: center; }
  .reviews__arrow {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 45px;
    height: 45px;
    border: 1.5px solid #DFDFDF;
    border-radius: 50%; }
    .reviews__arrow:hover {
      background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(#E21C2E), to(#E21C2E)), #C4C4C4;
      background: radial-gradient(48.75% 48.75% at 23.75% 21.25%, #FE394B 0%, rgba(254, 57, 75, 0) 100%), linear-gradient(0deg, #E21C2E, #E21C2E), #C4C4C4;
      border-color: #e21c2e;
      cursor: pointer; }
      .reviews__arrow:hover .reviews__arrow-icon-path {
        fill: white; }
  .reviews__arrow_previous {
    grid-area: arrow-prev;
    justify-self: center; }
  .reviews__arrow_next {
    grid-area: arrow-next;
    justify-self: center;
    align-self: start;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .reviews__review {
    grid-area: review-text;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    visibility: hidden; }
  .reviews__review-text {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 29px;
    color: #5B5050;
    padding: 0 40px;
    text-align: center; }
  .reviews__review-name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    color: #251D1D;
    margin-top: 30px; }

.contacts {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 26, 26, 0.7)), to(rgba(26, 26, 26, 0.7))), radial-gradient(circle at 100% -50%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%), radial-gradient(circle at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%), url("../img/tires.jpg") no-repeat;
  background: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), radial-gradient(circle at 100% -50%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%), radial-gradient(circle at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%), url("../img/tires.jpg") no-repeat;
  background-size: cover;
  height: 850px; }
  .contacts__headline {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 49px;
    color: #FFFFFF;
    padding: 76px 0 69px 330px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
  .contacts__map {
    display: -webkit-box;
    display: flex;
    flex-basis: 815px;
    height: 525px; }
  .contacts__contacts-wrapper {
    display: grid;
    background: url(../img/back2.png);
    grid-template-columns: 90px minmax(300px, 400px) 90px;
    grid-template-rows: 88px auto auto auto auto 88px;
    grid-template-areas: ". . ." ". address ." ". time ." ". phone ." ". email ." ". . ."; }
  .contacts__list-item {
    display: -webkit-box;
    display: flex; }
    .contacts__list-item_address {
      grid-area: address; }
    .contacts__list-item_time {
      grid-area: time; }
    .contacts__list-item_phone {
      grid-area: phone; }
    .contacts__list-item_email {
      grid-area: email; }
  .contacts__item-icon {
    align-self: start;
    margin-right: 45px; }
  .contacts__item-name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase; }
  .contacts__item-data {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 23px;
    color: #DFDFDF;
    margin-top: 10px; }

.footer {
  position: relative;
  background: linear-gradient(0.14deg, #050304 -5.31%, rgba(215, 215, 215, 0.2) 158.26%), #050304; }
  .footer__logo {
    padding: 20px 80px; }
  .footer__logo-name {
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 12px;
    color: #FFFFFF;
    text-transform: uppercase; }
  .footer__logo-line {
    font-size: 51px;
    font-weight: 800;
    letter-spacing: 0.06em;
    line-height: 51px;
    color: #FFFFFF;
    font-weight: 800; }
  .footer__name {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 24px;
    color: #DFDFDF;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
