.footer {
   
    position: relative;
    background: linear-gradient(0.14deg, #050304 -5.31%, rgba(215, 215, 215, 0.2) 158.26%), #050304;

    &__logo {
        padding: 20px 80px
    }
    &__logo-name {
        @include font(9px, bold, 0.05em, 12px);
        text-transform: uppercase;
    }

    &__logo-line {
        @include font(51px, 800, 0.06em, 51px);
        font-weight: 800;
    }
   
    &__name {
        @include font(16px, normal, 0.01em, 24px, $text-secondary-light);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

