.footer {
   
    position: relative;
    background: linear-gradient(0.14deg, #050304 -5.31%, rgba(215, 215, 215, 0.2) 158.26%), #050304;
    height: 120px;
    display: flex;
    align-items: center;
    position:relative;

    @media(max-width: 600px) {
        flex-direction: column;
        justify-content: center;
    }

    &__logo {
        position: absolute;
        padding-left: 80px;

        @media(max-width: 600px) {
            position: relative;
            padding-left: 0px;
        }
    }
    &__logo-name {
        @include font(9px, bold, 0.05em, 12px);
        text-transform: uppercase;
    }

    &__logo-line {
        @include font(51px, 800, 0.06em, 51px);
        font-weight: 800;
    }
   
    &__name {
        @include font(16px, normal, 0.01em, 24px, $text-secondary-light);
       margin:auto;
       
       @media(max-width: 600px) {
            font-size: 12px;
            margin: 0;
        }
    }
}

