$main-color-light: #e21c2e;
$text-primary-light: #FFFFFF;
$text-secondary-light: #DFDFDF;
$text-primary-dark: #251D1D;
$text-secondary-dark: #5B5050;
$primary-gradient:  linear-gradient( rgba(226, 28, 46, 0.6), rgba(226, 28, 46, 0.6)),
    linear-gradient(rgba(226, 28, 46, 1), rgba(226, 28, 46, 1));
$services-background-gradient: linear-gradient(0deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), 
radial-gradient(117.69% 47.91% at 50.07% 43.38%, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0.2) 100%), 
radial-gradient(226.33% 656.26% at 100% -1.1%, rgba(226, 28, 46, 0.2) 0%, rgba(0, 0, 0, 0.088) 100%);
$hamburger-color: #CCDBDC;



